<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>19/02/16 15:33:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1ec318]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@26858030</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/16 15:33:24</td>   <td>9487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1ec318]">CreateLead</td> 
  <td>main@26858030</td>   <td></td> </tr>
</table>
