<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>19/02/17 09:18:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC003_DuplicateLead@1318ec4]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/02/17 09:19:05</td>   <td>10308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DuplicateLead.DuplicateLead(java.lang.String)[pri:0, instance:bl.framework.testcases.TC003_DuplicateLead@1318ec4]">DuplicateLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/02/17 09:19:31</td>   <td>35392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1213b92]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/02/17 09:19:39</td>   <td>44086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1213b92]">CreateLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/02/17 09:20:03</td>   <td>67570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1213b92]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/02/17 09:20:10</td>   <td>75026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@1213b92]">CreateLead</td> 
  <td>main@11003494</td>   <td></td> </tr>
</table>
